fete.oxongroup.co.uk {
    handle /api* {
        reverse_proxy 127.0.0.1:8080
    }

    root * /home/timmi/projects/MDD_Candy/frontend/dist
    try_files {path} {path}/ /index.html
    file_server
}
